.warning {
	border: 1px solid red !important;
}

.content {
	gap: 20px;
	padding: 20px 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.formBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 350px;
	width: 100%;
	gap: 10px;

	button {
		width: 100%;
		max-width: 375px;
	}
}

.checkboxBlock {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
