.div {
	box-sizing: border-box;
	border-radius: 10px;
	padding: 3px;
	display: flex;
	border: 2px solid black;

	flex-direction: column;
}
input {
	width: 25px;
}

.row {
	margin-top: 10px;
}

button {
	width: 100%;
	margin: 10px auto;
	padding: 5px;
	border-radius: 5px;
}
